[Unit]
Description=Python Telegram bot

# TEMPLATE

[Service]
Environment=TOKEN=
User=
WorkingDirectory=
ExecStart=/**/mysterious-bot/venv/bin/python /**/mysterious-bot/main.py
StartLimitBurst=5
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
